body {
    background-color: rgb(47, 47, 47);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 48px;
    font-weight: 700;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 12px 30px 12px 30px;
    background-color: whitesmoke;
    border-radius: 8px;
    font-size: 20px;
    border: 4px rgb(104, 192, 82) solid;

}
button:active {
    transform: translateY(4px);
}
img {
    width: 15vw;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.choice {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    font-size: 32px;
    color: whitesmoke;
    gap: 10px;
}
/* .turn {
    font-size: 32px;
} */
.message {
    font-weight: 800;
}
.score {
    font-size: 32px;
}