button {
    padding: 20px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.images {
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.image {
    width: 10vw;
}